
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html,
body {
  min-width: 290px;
  color: #4D4E53;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  line-height: 1.5;
  font-family: 'Source Code Pro', monospace;
  font-size: large;


}

h1 {
  font-size: xx-large;
}

.text-center {
  color: white;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  font-weight: thin;
}

.preview {
background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
border: 10px solid rgb(230, 230, 236);
border-radius: 25px;
-webkit-box-shadow: 74px 68px 232px 39px rgba(232,142,203,1);
-moz-box-shadow: 74px 68px 232px 39px rgba(232,142,203,1);
box-shadow: 74px 68px 232px 39px rgba(232,142,203,1);
}

.container {
  text-align: center;
}

textarea {
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
  min-height: 400px;
  max-width: 100%;
  min-width: 100%;
  border: 10px solid rgb(230, 230, 236);
border-radius: 25px;
-webkit-box-shadow: 10px -155px 300px 134px rgba(224,56,174,0.29);
-moz-box-shadow: 10px -155px 300px 134px rgba(224,56,174,0.29);
box-shadow: 10px -155px 300px 134px rgba(224,56,174,0.29);

}


.preview {
  min-height: 200px;
  max-width: 75%;
  display: inline-block;
}
.col-6 {
  width: 75%;
  display: inline-block;
}

.row-after {
  content: "";
  display: table;
  clear: both;
}




